.header {
    padding: 10px 0;
}

.container {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo nav sw btns";
    gap: 40px;
}

.logo {
    grid-area: logo;
    display: flex;
}

.nav {
    grid-area: nav;
    gap: 15px;
    background-color: transparent;
    display: flex;
}

.nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    color: var(--color-gray-800);
    padding: 0;
}

.nav a:hover {
    color: var(--color-theme);
}

.accountButtons {
    grid-area: btns;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

