.pageTitle {
    font-weight: 800;
    margin-bottom: 30px;
}


.formTitle {
    color: var(--color-theme);
}

.passwordForm {
    padding: 1rem;
}


.content {
    display: grid;
    gap: 1rem 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "current none" "new confirm" "buttons buttons";
}

#formCurrentPassword {
    grid-area: current;
}

#formNewPassword {
    grid-area: new;
}

#formConfirmPassword {
    grid-area: confirm;
}

.formButtons {
    grid-area: buttons;
    margin: 20px 0;
    display: flex;
    gap: 20px;
}